.nav-wrapper{
    background: #303952;
    display: flex;
    align-items: center;
    justify-content: center
}

body{
    background: #596275;
}

.collapsible{
    background: #596275;
    border: none;
}
.collapsible-header{
    background: #596275;
    border: none;
}
.collapsible-body{
    border: none;
}
.add-button{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 8%;
    right: 10%;
    height: 8%;
    z-index: 1000;
}
.add-button:hover{
    background: #303952;
}
.add-button-form{
    position: fixed;
    bottom: 5%;
    right: -44%;
    z-index: 1000;
}
.none{
    visibility: hidden;
}

.blue-dark{
    background: #303952;
}
.blue-dark:hover{
    background: #303952;
}
.blue-light{
    background: #596275;
}

.log-btn{
    font-size: 12px;
    width: 100%;
}
.card-action{
    height: 230px;
}
.reg-panel{
    background: #414D66;
}
.reg-panel-position{
    margin-top: 40px;
}